@model Traffic_Violation.Models.ProjectViolation

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>ProjectViolation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Violationdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Violationdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.Carid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State.Stateid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Violationtype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Violationtype.Violationtypeid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Violationid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
