@model IEnumerable<Traffic_Violation.Models.ProjectViolation>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Violationdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Violationtype)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Violationdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Carid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State.Stateid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Violationtype.Violationtypeid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Violationid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Violationid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Violationid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
